@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Xin Chào  @User.Identity.GetUserName()</a>
            <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" style="display:inherit">Khóa Học Sắp Tới</a>
                <a class="dropdown-item" href="#" style="display:inherit">Giảng Viên Yêu Thích</a>
                <a class="dropdown-item" href="#" style="display:inherit">Khóa Học Của Tôi</a>
            </div>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
